* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #a35886;
}
a:hover {
  text-decoration: none;
}
body {
  background: #e1e4e5 url(images/dotz.jpg) repeat scroll 0% 50%;
  font-size: 10.5pt;
  line-height: 1.75em;
  font-family: Raleway,sans-serif;
  color: #383939;
}
br.clear {
  clear: both;
}
h2, h3, h4 {
  font-weight: normal;
  margin-bottom: 1em;
  font-family: Raleway,sans-serif;
  color: #000000;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.4em;
}
img.left {
  margin: 8px 20px 20px 0;
  float: left;
}
img.top {
  margin: 8px 0 20px;
}
p {
  margin-bottom: 1.75em;
}
ul {
  margin-bottom: 1.75em;
}
.imageList {
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
}
.imageList li {
  clear: both;
}
.small-caps{font-variant: small-caps; }
.style1 {
font-size: 16px;
font-weight: bold;
}
.style2 {
font-size: 12pt;
font-weight: bold;
}
p.noindent { text-indent: 0em }
td p.noindent { text-indent: 0em; margin-top:0em; }
p.nopar { text-indent: 0em; }
p.indent{ text-indent: 1.5em }
@media print {div.crosslinks {visibility:hidden;}}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
div.verbatim {font-family: monospace; white-space: nowrap; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 1px; margin:0px; }
.tabbing-right {text-align:right;}
span.TEX {letter-spacing: -0.125em; }
span.TEX span.E{ position:relative;top:0.5ex;left:-0.0417em;}
a span.TEX span.E {text-decoration: none; }
span.LATEX span.A{ position:relative; top:-0.5ex; left:-0.4em; font-size:85%;}
span.LATEX span.TEX{ position:relative; left: -0.4em; }
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p{margin-top:0.4em; margin-bottom:0.4em;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
img.cdots{vertical-align:middle;}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.index-item, .index-subitem, .index-subsubitem {display:block}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.quote {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; margin-right:1em; text-align:justify;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
.quotation {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; }
.abstract p {margin-left:5%; margin-right:5%;}
div.abstract {width:100%;}
div.ex dt, dt.alist{float:left;clear:left}
.tsent {display:table-cell; display:inline-block; padding-right:0.2em; padding-top:0em; padding-bottom:0em; padding-left:0em; margin:0em; }
dd.alist p{margin-top:0.2em}
#bg {
  background: transparent url(images/dotz.jpg) repeat scroll left top;
}
#banner {
  border-bottom: 1px solid #c0c0c0;
  margin: -60px 0 0;
  padding: 28px;
  background: #ffffff none repeat scroll 0 50%;
  height: 212px;
  width: 1124px;
}
#box1, #box2 {
  margin: 0px 0 24px;
  overflow: hidden;
  width: 500px;
}
#box3 {
  overflow: hidden;
  width: 236px;
}
#content {
  border-bottom: 1px solid #c0c0c0;
  margin: 0px 28px 0px 312px;
  padding: 28px;
  background: #ffffff none repeat scroll 0% 50%;
  width: 500px;
}
#content-left {
  border-bottom: 1px solid #c0c0c0;
  padding: 28px;
  background: #ffffff none repeat scroll 0% 50%;
  width: 600px;
  margin-bottom: 28px;
}
#content-right {
  border-bottom: 1px solid #c0c0c0;
  padding: 28px;
  background: #ffffff none repeat scroll 0% 50%;
  width: 450px;
  float: right;
  margin-bottom: 28px;
}
#content-wide {
  border-bottom: 1px solid #c0c0c0;
  margin: 0px 28px 0 312px;
  padding: 28px;
  background: #ffffff none repeat scroll 0% 50%;
  width: 824px;
}
#copyright {
  margin: 28px 0 64px;
  color: #d7d7d7;
  text-align: center;
  text-shadow: #111111 2px 2px 2px;
}
#copyright a {
  color: #dbdbdb;
}
#footer {
  border-bottom: 1px solid #444444;
  margin: 0 0 0 0;
  padding: 28px;
  background: #636363 none repeat scroll 0% 50%;
  /*position: relative;*/
  width: 1124px;
  color: #dbdbdb;
  text-shadow: #454545 0 1px 0;
  clear: both;
}
#footer a {
  color: #eeeeee;
}
#footer h2, #footer h3, #footer h4 {
  color: #ffffff;
}
#footer ul {
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
  margin-bottom: 0;
}
#footer p {
  margin-bottom: 0;
}
#footer ul li {
  border-top: 1px dotted #8c8c8c;
  padding: 8px 0;
}
#footer ul li.first {
  border-top: 0 none;
  padding-top: 0;
}
#footerContent {
  width: 812px;
  float: left;
}
#footerSidebar {
  /*margin: 0px 0 0 892px;*/
  width: 232px;
  float: left;
}
#header {
  padding: 14px;
  position: relative;
  height: 50px;
  width: 1124px;
}
#logo {
  margin: 0;
  height: 50px;
  left: 50px;
  line-height: 45px;
  position: relative;
  text-align: left;
  top: 170px;
}
#logo a {
  text-decoration: none;
  color: #fbfaff;
  text-shadow: #000000 0px 1px 0px;
}
#logo h1 {
  color: #fbfaff;
  font-family: Raleway,sans-serif;
  font-size: 3.25em;
  font-weight: bold;
  text-shadow: #000000 0 1px 0;
}
#main {
  margin: 28px 0px 0px 0px;
  padding: 0px;
  position: relative;
  width: 1180px;
  color: #474747;
}
#main strong {
  color: #242424;
}
#main h2, #main h3, #main h4 {
  color: #0d0d0d;
}
#main ul {
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
}
#main ul li {
  border-top: 1px dotted #bdbdbd;
  padding: 8px 0;
}
#main ul.imageList li {
  padding: 16px 0;
}
#main ul li.first {
  border-top: 0 none;
  padding-top: 0;
}
#nav {
  border-top: 0px solid #ffffff;
  border-bottom: 1px solid #835872;
  margin: 28px 0 0;
  background: #7d4467 none repeat scroll 0% 50%;
  width: 1107px;
  font-size: 1.2em;
  text-shadow: #6f3018 0 1px 0px;
  left: 24px;
  font-family: "Raleway", sans-serif;
  color: white;
  bottom: 0px;
  line-height: 56px;
  position: relative;
  height: 56px;
  text-transform: lowercase;
}
#nav a {
  padding: 15px 20px 16px;
  color: #ffffff;
  text-decoration: none;
}
#nav a:hover {
  background: #643652 none repeat scroll 0% 50%;
  color: #ffffff;
}
#nav .current_page_item a {
  background: #643652 none repeat scroll 0% 50%;
}
#nav ul {
  margin: 0 auto;
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
  width: 1062px;
  text-align: center;
}
#nav ul li {
  display: inline;
  text-align: center;
}
#outer {
  margin: 0 auto;
  position: relative;
  width: 1180px;
  padding-top: 30px;
}
#search input.button {
  border:  none;
  padding: 5px;
  background: #8f5038 none repeat scroll 0% 50%;
  margin-left: 1em;
  color: #ffffff;
}
#search input.text {
  border: 1px dotted #000000;
  padding: 4px;
}
#sidebar1 {
  border-bottom: 1px solid #c0c0c0;
  padding: 28px;
  background: #ffffff none repeat scroll 0% 50%;
  width: 240px;
  float: left;
  color: #474747;
}
#sidebar1 h2, #sidebar1 h3, #sidebar1 h4 {
  color: #000000;
}
#sidebar1 ul {
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
}
#sidebar1 ul li {
  border-top: 1px dotted #bdbdbd;
  padding: 8px 0;
}
#sidebar1 ul li.first {
  border-top: 0 none;
  padding-top: 0;
}
#sidebar2 {
  border-bottom: 1px solid #c0c0c0;
  padding: 28px;
  background: #ffffff none repeat scroll 0% 50%;
  width: 240px;
  float: right;
  color: #474747;
  margin-bottom: 28px;
}
#sidebar2 h2, #sidebar2 h3, #sidebar2 h4 {
  color: #000000;
}
#sidebar2 ul {
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
}
#sidebar2 ul li {
  border-top: 1px dotted #bdbdbd;
  padding: 8px 0;
}
#sidebar2 ul li.first {
  border-top: 0 none;
  padding-top: 0;
}
